.Particle{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.signHover:hover {
  border: 1px solid white;
  border-bottom: 2px solid rebeccapurple;
  color: white;
  text-decoration: none;
 
}